.loader {
  position: fixed;
  inset: 0;
  background-color: #fff;
  z-index: 1000;

  .top {
    display: flex;
    justify-content: space-between;
    padding-top: 1vw;
    position: relative;
    z-index: 2;

    &__left {
      display: flex;
      gap: 5vw;
    }

    &__right {
      display: flex;
      gap: 10vw;
      text-align: end;

      .growth {
        text-align: start;
        margin-right: 2.5vw;
      }
    }
  }

  .center {
    position: absolute;
    bottom: 45%;
    left: 50%;
    transform: translate(-50%, 50%);

    text-align: center;

    .heart {
      width: 2vw;
      margin: 0 auto;
    }
  }

  &__logo {
    width: 28vw;
    height: 13vw;
  }

  &__progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    &-bar {
      background-color: black;
      width: 100%;
      height: 1.5lvh;
      position: absolute;
      bottom: 0;
      transform: scaleX(0);
      transform-origin: left center;
    }
  }

  &__numbers {
    margin: 0 1vw 1vw;
    position: relative;

    &::before {
      content: "‘";
    }
  }

  .heart--for-home {
    position: absolute;
    top: 0;
    z-index: 1;
    height: 110lvh;
    width: 100vw;

    background: url("../../../public/images/Home/hero.webp") no-repeat;
    background-size: cover;
    background-position-x: 50%;

    mask: url("../../../public/images/heart.svg") no-repeat;
    mask-size: 4vw;
    mask-position: center 68%;
  }
}
