@import "/src/styles/global.scss";

.progress-bar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  width: 1vw;
  mix-blend-mode: difference;

  @include hover {
    .progress-bar__bar {
      width: .6vw;
    }
  }
  
  &__bar {
    position: absolute;
    right: 0;
    width: 0.2vw;
    height: 5%;
    background-color: $c-white;
    // transform-origin: center;
    transform: translateY(-100%);
    transition: width .4s cubic-bezier(.08,.99,.37,1);
  }

  &__range {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    rotate: 90deg;
    width: 100vh;
    height: 1vw;
    transform: translate(-2%, -30%);
    transform-origin: left;
    opacity: 0;
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }
}
