.formsent {
  max-width: 400px;
  margin: auto; /* Це вирівнює форму по центру */
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Тінь для вигляду */

  /* Це вирівнює форму вертикально по центру */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-text {
  width: 100%; /* Розтягніть елемент .form-text на ширину форми */
  margin-bottom: 15px;
}

.form-text label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-text input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error-message {
  color: red;
  margin-top: 5px;
}

.form-button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.form-button:hover {
  background-color: #45a049;
}
