@import "./variables";

@mixin mq($size: $tablet, $type: "<", $size-next: null) {
  @if ($type == "<") {
    @media (max-width: #{$size}px) {
      @content;
    }
  }

  @if ($type == ">") {
    @media (min-width: #{$size}px) {
      @content;
    }
  }

  @if ($type == "<>") {
    @media screen and (min-width: #{$size}px) and (max-width: #{$size-next}px) {
      @content;
    }
  }
}

@mixin forVerticalTablet() {
  @media screen and (min-aspect-ratio: 2/3) and (max-aspect-ratio: 4/3) {
    @content;
  }
}

@mixin forHorizontalTablet() {
  @media screen and (min-aspect-ratio: 4/3) and (max-aspect-ratio: 16/9) {
    @content;
  }
}

@mixin forDesktop() {
  @media screen and (min-aspect-ratio: 16/9) {
    @content;
  }
}

@mixin hoverForLinks() {
  position: relative;

  &::after {
    transition: $transition;
    content: "";
    position: absolute;
    background-color: $g-80;
    bottom: 0;
    height: 0.06vw;
    left: 0;
    right: 100%;
  }

  &:hover::after {
    right: 0;
    left: 0;
  }
}

@mixin grid() {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2vw;
}
