@import "/src/styles/global.scss";

.hero {
  height: 110lvh;
  width: 100vw;

  background: url("../../../../public/images/Home/hero.webp") no-repeat;
  // background-attachment: fixed;
  background-size: cover;
  position: relative;
  background-position-x: 50%;

  color: $c-white;

  .top {
    display: flex;
    justify-content: space-between;
    mix-blend-mode: difference;
    padding-top: 1vw;

    @include forMobile {
      padding-left: VW(10, $mobile);
      padding-right: VW(10, $mobile);
    }

    .body-text-4 {
      text-wrap: nowrap;
    }

    &__left {
      display: flex;
      gap: 5vw;
      @include forMobile {
        gap: 1vw;
      }
    }

    &__right {
      display: flex;
      gap: 10vw;
      text-align: end;
      @include forMobile {
        gap: 1vw;
      }

      .growth {
        text-align: start;
        margin-right: 2.5vw;
      }
    }
  }

  &__main {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    text-wrap: nowrap;
  }

  &__title {
    margin-top: 3vw;

    @include forTablet() {
      margin-top: 6vw;
    }
  }
}
