@import "/src/styles/global.scss";

.footer {
  background: url("../../../public/images/Home/Footer.webp") no-repeat center;
  background-size: cover;

  width: 100vw;
  height: 80lvh;
  color: $c-white;
  position: relative;
  z-index: 100;
  padding-top: 1vw;

  @include forTablet {
    height: VW(292, $tablet);
  }

  &__wrapper {
    @include grid();
    padding: 16vw 1.6vw 0;
  }

  .contacts {
    grid-column: 4/9;
    display: flex;
    flex-direction: column;
    gap: 4vw;

    &__title {
      grid-column: 1/3;
      padding-top: 3vw;
    }

    &__name {
      margin-bottom: 1.3vw;
      color: $g-70;
    }

    &__item {
      .link-wrapper {
        height: 3.5vw;
      }
    }
  }

  .socials {
    grid-column: 10/12;
    
    @include forTablet {
      grid-column: 10/13;
    }

    &__title {
      color: $g-70;
      width: 100%;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      column-gap: 2vw;
      row-gap: 1vw;
      margin-top: 1.5vw;
    }

    &__item {
      font-weight: 300 !important;

      .link-wrapper {
        height: 1.4vw;

        @include forTablet {
          height: 2.3vw;
        }
      }
    }
  }

  .bottom {
    grid-row: 3/3;
    grid-column: 1/13;
    @include grid();
    align-items: flex-end;
    position: absolute;
    bottom: 1vw;
    width: 97%;
  }

  &__ukraine {
    grid-column: 1/3;
    display: flex;
    gap: 0.4vw;

    &::before {
      content: "";
      display: block;
      height: 0.8vw;
      width: 1vw;
      background: linear-gradient(
        rgb(14, 92, 178) 49%,
        rgb(243, 207, 14) 49%
      );
    }
  }

  &__rights {
    grid-column: 4/7;
    display: flex;

    font-size: VW(8, $tablet) !important;

    .link-ul {
      font: inherit;
    }
  }

  .link__author {
    grid-column: 10/10;
    width: 3vw;
    height: 1.5vw;

    font-size: 0;

    @include forTablet {
      width: VW(30, $tablet);
      height: VW(14, $tablet);
    }
  }
}
